<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Emergency Contact</h1>
  </ion-text>
<ion-grid>
  <ion-row *ngFor="let cont of lists" (click)= "call1()">
    <ion-col size="4">
      <ion-img src="{{cont.Image}}">
      </ion-img>
      <ion-text color="primary" class="ion-text-center">
        <h6>{{cont.ContactName}}</h6>
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-text color="primary" class="ion-text-center">
        <h4>{{cont.Number}}</h4>
      </ion-text>
    </ion-col>
    <ion-col size ="4">
      <ion-button size="large">
        <ion-icon name="call"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
